.videos {
    position: relative;
    margin: 2em 0;
    width: 100%;
    top: 0;
    left: 0;
    gap: 5em;
    text-align: center;
}

.videos .video-playlist-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 0;
    gap: 3em;
    flex-wrap: wrap;
    animation: translateIn 5s ease;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.videos .video-playlist-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.video-playlist-card img {
    width: 20em;
    height: 17em;
    border: 1px solid #fff;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.video-playlist-card img:hover {
    transform: scale(1.02);
}

.video-playlist-card p {
    font-size: 1.2em;
}


/* quick picks */

/* ---- Quick Picks ---- */

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;       
  margin: 0;
  padding: 0 0em; 
  gap: 1em;  
} 

.video-swiper {
  margin: 3em 3em;
  width: 100%;        
}

.carousel-card {
  position: relative;
  padding: 1em 0.3em;
  cursor: pointer;
  border-radius: 0.5em;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.carousel-card:hover {
  transform: scale(1.05);
}

.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.6em;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.video-swiper .swiper-pagination {
  bottom: -15px; /* move dots slightly below the carousel */
}

.swiper-pagination-bullet {
  background: #fff; /* white for contrast */
  opacity: 0.6;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
