.testimonial {
  position: relative;
  margin: 4em 0;
  width: 100%;
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  margin: 2em 0 1em 0;
  gap: 1em;
  animation: scaleIn 5s ease;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.testimonial-carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}

.carousel-card {
  transition: transform 0.2s ease;
}

.carousel-card:hover {
  transform: scale(1.02);
}

.testimonial-content {
  background: #3d3d3d;
  border-radius: 1em;
  box-shadow: 0 0 10px 0px #fff;
  padding: 2em 1.5em;
}

.profile-icon {
  font-size: 4rem;
  color: #fff;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 0em;
}

.user-name-position {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: center;
}

.user-name-position .name {
  font-weight: 550;
}

.rating {
  color: gold;
  display: flex;
  gap: 0.2em;
}

.feedback {
  margin-top: 1em;
  font-style: italic;
}

.testimonial-button {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}



/* Optional: Responsive spacing tweaks */
@media (max-width: 992px) {
  .carousel-card {
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .feedback {
    font-size: 0.95em;
  }
  .testimonial-button {
    margin-top: 0;
  }
}
